*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
    --primary: #306CB5;
    --secondary: #3A5C86;
    --accent: #166FDB;
    --dark-1: #37485C;
    --dark-2: #272C33;
    --dark-3: #2C2F33;
    --done: rgb(130, 194, 34);
  }
  
body{
    
    color: #ffff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
   background: url(fundo-da-paisagem_23-2148006795.avif) center / 100vw 100vh  no-repeat;
   
}

.container{
    max-width: 450px;
    max-height: 500px;
    border: 1px solid var(--dark-3);
    padding: 5px;
    border-radius: 5px;
    backdrop-filter: blur(10px); /* Aplica o desfoque */
}

.container-header{
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid var(--dark-3);
    padding: 9px;
}
.form-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
#tarefa{
    font-size: 19.7px;
}
.label-tarefa{
    font-size: 25px;
}

li{
    list-style: none;
    padding: 3px;
    border: 1px solid var(--dark-3);
    
}

button{
    background-color: var(--primary);
    color: #ffff;
    border-radius: 3px;
    border: 1px solid white;
}
button:hover{
    background-color: var(--accent);
    color: var(--dark-2);
    border: 1px solid var(--dark-2);
    transition: 0.8s;
}

.loyalt-task{
    border-radius: 5px;
    margin: 6px;
    background-color: var(--primary);
    display: flex;
    align-items: center;
    flex-direction: row;

}
.task-container{ 
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.alinhar-cont{
    display: flex;
    align-items: center;
}


.task-text{
    margin: 7px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   
}

.done{
    background-color: var(--done);
    text-decoration: line-through;

}
.hide{
    display: none;
}

.edit-box {
    margin-top: 8px;
    padding: 10px;
    border: 1px solid var(--dark-3);
    background: rgba(255, 255, 255, 0.1); /* Fundo semi-transparente */
    backdrop-filter: blur(5px); /* Efeito de desfoque */
    display: flex;
    flex-direction: column;
    gap: 8px;
    border-radius: 5px;
}




.material-symbols-outlined{
    
}